.mystyle {
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size:1em;
	font-weight:normal;
}

h1 {
	font-family: Helvetica, Arial, sans-serif;
	color:#999999;
	line-height:18px;
	font-weight:normal;
	font-size:.6em;
	margin:0px;
	padding:0px;
}

h1 .name{
	font-size: 2em;
	color: #666;
}


.container {
	text-align:center;
	width:100%;
	margin:0px auto 0px auto;
}

.header {
	/*width:720px;
	
	margin:0px auto 0px auto;*/
	text-align:left;
	height:20px;
	position:absolute;
	top: 5px;
	left:5px;
	
}

.title {
	float:left;
	width:320px;
	height:100%;
	position:relative;
}

.menu {
	font-size: 0.75em;
	float:right;
	text-align:left;
	margin: 0px 10px 0px 0px;
	
	//width: 300px;
}

.landscape, .wedding, .things, .places{
	display:none;
}

.menu a{
	color:#666;
	text-decoration: none;
}

.menuItem {
	color:#666;
	display:block;
	height:20px;
	margin:5px 2px;
	padding:0px 0px 0px 5px;
	cursor: pointer;
	text-decoration: none;
	line-height:20px;
	width:95px;
	vertical-align:middle;
	/*border:1px solid #fff;*/
	
}

.menuItem:hover {
/*	background-color:#EFEFEF;*/
	border:1px solid #666;	
	height:18px;
	line-height:18px;
	width:93px;
	margin:5px 1px;
	/*-moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 2px rgba(0,0,0,0.5);*/
}

.body {
	clear:both;
	width: 720px;
	min-height:520px;
	height:auto !important;
	height:520px;
	margin:30px auto 0px auto;
	
}

.imageBorder{
	margin:0 auto;
	border:1px solid #ccc;
	padding:10px;
	height:700px;
	width: 467px;
	-moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
	
}
.image{
	
	
	
	margin:0 auto 10px;
	width: 467px;
	height:700px;
	z-index:2;
	-moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
	border:10px solid #fff;
	background-color: #000;
	
	
}

.image div{
	background-color: #fff; 
	background-repeat: no-repeat; 
	background-position: 50% 50%;
	width: 467px;
	height:700px;
	
	margin-bottom:10px;
}

.image img{
		background-color:#fff;
		border:1px solid #ccc;
		padding:10px;
		-moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
		-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
		box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
		margin:auto auto;
}

.loader{
	width: 100%;
	height: 100%;
	background-image: url('./images/ajax-loader.gif');
	background-position: center center;
	background-repeat: no-repeat;
}

.footer {
	width:467px;
	text-align:right;
	margin:0px auto 0px auto;
}

.copywrite {
	font-size:0.6em;
	color: #aaa;
}

.contact{
	float:left;
	color: rgba(0, 0, 0, 0.746094);
	font-size:0.68em;
	z-index:0;
	text-align:right;
	line-height:15px;
	margin: 675px 2px 0 0;
	
}

.contact a:link, .contact a:active, .contact a:visited{
	text-decoration:none;
	color:rgba(0, 0, 0, 0.648438);
}

.contact a:hover{
	text-decoration:underline;
}

